nav > ul > li {
    float: left;
}
nav li{
    list-style-type: none;
}
.submenu{
    display: none;
}
nav {
    width: 80%;
    height: 75px;
    margin: 0 auto;
    background-color: #58a1e5;
    border-radius: 10px;
}
nav > ul > li {
    float: left;
    position: relative;
}
nav ul::after{
    content: "";
    display: block;
    clear: both;
}
.header{
    max-height: 60px;
}
nav a {
    display: inline-block;
    text-decoration: none;
}
nav > ul > li > a{
    padding:  19px 30px;
    color: black;
}
.submenu {
    display: none;
}
nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    z-index: 10000;
}
.submenu li {
    border-bottom: 1px solid #CCC;
}
.submenu li a {
    padding: 14px 30px;
    font-size: 15px;
    color: #222538 ;
    width: 270px;
    text-align: center;
}
.menu:hover {
    border-top: 5px solid #0070bb;
    background-color: rgba( 000, 112, 192, 0.15);
}
nav > ul > li:hover a {
    padding: 14px 30px 20px 30px;
}
.menu .submenu{
    background-color: rgba(000, 160, 240);
}
.submenu li:hover a {
    color: #EEE;
    font-weight: bold;
}
.menu .submenu li:hover {
    background-color: rgb(000, 115, 200);
}
.menu-acc:first-child:hover {
    border-top: 0px;
    cursor: pointer;

}
.image-menu {
    width: 23px;
    height: 50%;
    margin: 16px 15px 0 25px;
}
.image-header {
    width: 5%;
    max-width: 5%;
    height: auto;
    margin-left: 10%;

}
.titre-header {
    color: #A4A39B;
    font-size: 50px;
    text-align: left;
    font-weight: normal;
    margin: 0 auto;
    float: left;
}





