body {
  font-family: Calibri, Helvetica, arial, sans-serif;
  background-image: url("/image/fondflou.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#wrapper {
  margin: 0 auto;
  width: 80%;

  display: flex;
  flex-direction: column;
}
#main-logo {
  width: 20%;
  height: auto;

  margin: 25px auto;
}

.content_wrapper {
  background-color: #ffffff;

  margin: 2em 0;

  width: auto;
  height: auto;

  padding: 1em 8%;

  border-radius: 10px;
}

@media (max-width: $breakpoint-tablet) {
  #wrapper {
    width: 100%;
  }

  .content_wrapper {
    margin: 0 0;
    padding: 1em 2.5%;
  }

  body {
    background-image: none;
  }
}

.image-menu {
  width: 23px;
  height: 50%;
  margin: 16px 15px 0 25px;
}
.image-header {
  width: 5%;
  max-width: 5%;
  height: auto;
  margin-left: 10%;

}