$breakpoint-laptop: 1281px;
$breakpoint-small-screen: 961px;
$breakpoint-tablet: 769px;
$breakpoint-phone: 481px;

body {
  font-family: Calibri, Helvetica, arial, sans-serif;
  background-image: url("/image/fondflou.png");
  background-repeat: repeat-y;
  background-size: 100%;

  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#wrapper {
  margin: 0 auto;
  width: 80%;

  display: flex;
  flex-direction: column;
}
/*
#main-logo {
  width: 20%;
  height: auto;

  margin: 25px auto;
}
 */

.content_wrapper {
  background-color: #FFFFFF;

  margin: 2em 0;

  width: auto;
  height: auto;

  padding: 1em 8%;

  border-radius: 10px;
}

@media (max-width: $breakpoint-tablet) {
  #wrapper {
    width: 100%;
  }

  .content_wrapper {
    margin: 0 0;
    padding: 1em 2.5%;
  }

  body {
    background-image: none;
  }
}