.stl{
    border-radius: 10px;
    background-color: #FFF;
    width: 69.5%;
    margin: center;
    text-align: justify;
    padding: 50px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.div-menu-stl {
    width: 850px;
    margin: center;
    border: 1px solid black;
    text-align: center;
    padding: 50px;
    margin: 200px;
    margin-top: 50px;
    position: relative;
    margin-bottom: 25px;
}

.image-pre-stl {
    width: 500px;
    float: center;
    margin: 25px;
    margin-top: 10px;
    text-align: center;
}


.sous-titre-stl-2 {
    margin: center;
    text-align: center;
    color: #0fff00;
}

.sous-titre-stl-1{
    margin: center;
    text-align: center;
    color: #d00808;
}
.image-conseil-stl{
    width: 100px;
}

.table-stl-conseil{
    margin-left: -500px;
    position: absolute;
}

.div-menu-stl-1 {
    overflow: hidden;
    border: 50px solid #0b3;
    background-color: rgba(0,170, 50, 0.3);
    height: 100%
    color: #000000;
    width: 750px;
    text-align: center;
    padding: 50px;
    margin: 200px;
    margin-top: 50px;
    position: relative;
    margin-bottom: 25px;
}

.titre-stl {
    font-size: 50px;
    margin-top: 20px;
}